@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');    
    
*{
        margin: 0;
        padding: 0;
    }

    :root {
        --black: rgb(0, 0, 0);
        --black-2: rgb(0, 0, 0);
        --dim-gray: rgb(185, 144, 8);
        --platinum: rgb(255, 255, 255);
        --eerie-black: rgb(228, 228, 228);
        --texto-corpo:"Lora", serif;
        --texto-titulo:"Radio Canada Big", sans-serif;

    }

    body {
        background: #ffea00;
        color: rgb(255, 247, 0);
        font-family: var(--texto-corpo);
    }

    .cabecalho{
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: 12px;

    }

    .cabecalho-img{
        width: 10%;
        border-radius: 100%;
    }

    .cabecalho-nav__link{
       text-decoration: none; 
       font-family: var(--texto-titulo);
       font-size: 24px;
       color: var(--yellow);
       margin-right: 24px;
    }